
<div class="container">
  <div class="col">
  <div class="card">
    <div class="card-body">
      <div class="card-title"><h2><p> Transaciones de Los Ultimo Tres Meses </p></h2></div>


      <div  class="form-group  my-3 col-6 ">
        <label   class="form-label mt-2" for="inputValid"></label>

        <input  type="text" class="form-control" [(ngModel)]="termino" placeholder="Buscar Por: Tipo : Ingreso o Gasto  , Monto , Cuenta">
     <!-- <select  class="form-select"  aria-label="Default select"> -->
        <!-- <option></option> -->

      <!-- </select> -->



<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Monto</th>
    <th scope="col">Cuenta </th>
    <th scope="col"> Fecha</th>
    <th scope="col">Tipo </th>
    <th scope="col"> Descripcion</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tran of datotable  | filter:termino; index as i; ">
    <th scope="row">{{ i  + 1 }}</th>
    <td >
     <!--bandera-->{{ tran.monto | currency:'$'}}
    </td>
    <td>{{ tran.type }}</td>
    <td>  {{ tran.date | date: 'd/M/yy, h:mm a'}}</td>
    <td>{{ tran.namet }}</td>
    <td>  {{ tran.descripcion }}</td>
  </tr>
  </tbody>




</table>

</div>
</div>



</div>
</div>

<!-- <div class="col"> -->
  <div class="card col-6 my-2">
    <div class="card-body">

      <div class="card-title"><h2><p> Transaciones de Gasto e Ingreso Totales </p></h2></div>


      <table class="table table-hover">
        <thead>
        <tr class="table-info">
          <th scope="col">#</th>
          <th scope="col">Gasto Totales</th>
          <th scope="col">Ingreso Totales</th>


        </tr>
        </thead>
        <tbody>
        <tr class="table-success" *ngFor="let trand of this.appSv.datoAgrupado() index as i">
          <th scope="row">{{  i + 1 }}</th>
          <td >
           <!--bandera-->{{ trand.totalG | currency:'$'}}
          </td>
          <td >
            <!--bandera-->{{ trand.totali | currency:'$'}}
           </td>




        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>







<!-- </div> -->

