<div class="row g-0 bg-light position-relative my-0">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="../assets/img/ingreso.jpg" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <strong><h4 style="color:red  " class="mt-0">Registo de Ingreso</h4></strong>
    <p>
      Un ingreso es toda aquella ganancia que se recibe por la venta de un bien o servicio, que generalmente se hace efectiva mediante un cobro monetario.<br>
      El PGC diferencia dos tipos de ingresos. En primer lugar, los procedentes de la venta de bienes y, en segundo, los originados por la prestación de servicios.<br>
    </p>
    <a href="/presupuesto/ingreso" class="stretched-link btn btn-primary">Registrar Ingreso</a>
  </div>
</div>
