<nav class=" navbar navbar-expand-lg navbar-dark bg-success ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="../assets/img/cuarto.png" width="30" height="30"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active"  routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/presupuesto/ingreso">Ingreso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " routerLink="/presupuesto/gasto">Gasto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " routerLink="/transacciones">Transaciones</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="/agradecer">Documentacion y Agredecimiento</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
