<nav class=" navbar navbar-expand-lg navbar-dark bg-success ">
  <div  class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="../assets/img/cuarto.png" width="30" height="30"></a>
    <button  class="navbar-toggler" type="button"  (click)="isMenuCollapsed = !isMenuCollapsed" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div    [ngbCollapse]="isMenuCollapsed" class="navbar-collapse collapse " >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active"  routerLink="/" (click)="isMenuCollapsed = true">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/presupuesto/ingreso"  (click)="isMenuCollapsed = true">Ingreso</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link active " routerLink="/presupuesto/gasto" (click)="isMenuCollapsed = true">Gasto</a>
        </li>
        <li   class="nav-item">
          <a class="nav-link active " routerLink="/transacciones" (click)="isMenuCollapsed = true">Transaciones</a>
        </li>

        <li  class="nav-item">
          <a class="nav-link active" routerLink="/agradecer" (click)="isMenuCollapsed = true">Documentacion y Agredecimiento</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
