
<div class="container-fluid " id="fondoini">
  <div class="row">
    <div class="col">

<div class="card center" style="width: 18rem;" >
  <img src="../assets/img/transaciones.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><strong><h4 style="color:blue  " class="mt-0">Visualizar Transaciones</h4></strong></h5>
    <p class="card-text" style="text-align: justify;"> Una transacción es un acuerdo comercial que se lleva a cabo entre dos partes,
      económicamente hablando es un convenio de compra y venta.</p>
    <a routerLink="/transacciones" class="stretched-link btn btn-outline-info">Ver Transaciones</a>
  </div>
</div>

</div>

<div class="col">

<div class="card center" style="width: 18rem;">
  <img src="../assets/img/gasto.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> <strong><h4 style="color:red  " class="mt-0">Registo de Gasto</h4></strong></h5>
    <p class="card-text" style="text-align: justify;">Un gasto es un egreso o salida de dinero que una persona o empresa debe pagar
      para acreditar su derecho sobre un artículo o a recibir un servicio.</p>
    <a routerLink="/presupuesto/gasto" class="stretched-link btn btn-danger">Registrar Gasto</a>
  </div>
</div>

</div>

<div class="col">
<div class="card " style="width: 18rem;">
  <img src="../assets/img/ingreso.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><strong><h4 style="color:green  " class="mt-0">Registo de Ingreso</h4></strong></h5>
    <p class="card-text" style="text-align: justify;"> Un ingreso es toda aquella ganancia que se recibe por la venta de un bien o servicio, que generalmente se hace efectiva mediante un cobro monetario.</p>
    <a routerLink="/presupuesto/ingreso" class="btn btn-primary">Registrar Ingreso</a>
  </div>
</div>

</div>

  </div>
</div>

