
<div class="container">
  <div class="card my-3">
    <div class="card-body">
      <div class="col-4">
        <h4 style="color:green"> Registro de Ingreso</h4>
        <form [formGroup]="this.presuING.form" class="" >


          <div class="form-group ">
            <label class="form-label mt-4" for="">Ingreso</label>
            <input formControlName="monto"  type="number" value="valor" class="form-control " id=""  placeholder="$0.00"

            [class.is-invalid]="this.presuING.monto">
            <small *ngIf="this.presuING.monto" class="text-danger">

              Debe ingresar un Monto
            </small>
          </div>

          <div class="form-group  my-3 col-8 ">
            <label class="form-label mt-2" for="inputValid">Cuenta</label>
            <select formControlName="type"  class="form-select"   [class.is-invalid]="this.presuING.type" #cuenta (keyup)="0">
              <option  *ngFor="let t of types" [value]="t.name"  >{{t.name}}</option>
          </select>
          <small *ngIf="this.presuING.type" class="text-danger">
            Debe ingresar una cuenta
          </small>
        </div>
          <div class="form-group  mb-3 wt-50 ">
            <label class="form-label mt-1" for="inputValid">Fecha</label>
            <input formControlName="date"  type="date" value="" class="form-control" id=""
            [class.is-invalid]="this.presuING.date">
            <small *ngIf="this.presuING.date" class="text-danger">

              Debe ingresar una Fecha
            </small>

          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Concepto Opcional</label>
            <textarea class="form-control w-40" id="exampleFormControlTextarea1"    rows="2"  formControlName="descripcion" [value]="cuenta.value" ></textarea>
          </div>

          <div class="btn-group">
          <button  (click)=" Guardar()" type="button" class="btn btn-success">Agregar</button>

          <button (click)="Cancelar()" type="button" class="btn btn-warning mx-3">Cancelar</button>
          </div>


        </form>


      </div>
    </div>
  </div>
</div>

